<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042810049097-q8n88oqvki4h8i8qdoaoc3av755m9oig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042810049097-q8n88oqvki4h8i8qdoaoc3av755m9oig</string>
	<key>API_KEY</key>
	<string>AIzaSyAw4C9mIMnfhmF6Deyg1naafy3dBQHPBCs</string>
	<key>GCM_SENDER_ID</key>
	<string>1042810049097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crm</string>
	<key>PROJECT_ID</key>
	<string>couchcrm</string>
	<key>STORAGE_BUCKET</key>
	<string>couchcrm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042810049097:ios:04a7970834d52d57026598</string>
</dict>
</plist>